*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}

body {
    background-color: indigo;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

h1{
    padding-left:50px;
    background-color: rgba(red, green, blue, alpha)

}

figure{
    opacity: 50%;
}
section{
    display: flex;
}
iframe{
    margin:0 auto;/* means in the middle
    margin-top:0;
    margin-bottom:0;
    margin-left:auto;
    margin-right:auto;*/
    display:block;
}
#topvid{
    margin: 0 auto;
    display: block;
}
